.main-container{
	margin-top: 20px;
}
h1{
	color: orange;
	text-shadow: 2px 2px #e8e8e8;
	font-weight: bold;
}

/** Top Nav **/
.top-nav-container{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
}
.top-nav-container .logo-container a{
	color: #333;
	text-decoration: none;
}
.top-nav-container .cart-and-login-container{
	padding-top: 30px;
}
.top-nav-container .logut-link{
	padding-left: 20px;
}
.top-nav-container .logut-link a:hover{
	color: orange;
}
.top-nav-container .cart-and-login-container a{
	color: #333333;
	outline: 0;
	text-decoration: none;
	font-size: 13px;
}
.top-nav-container .cart-and-login-container .my-cart-link{
	padding: 0 30px;
	border-right: 1px solid #e8e8e8;
}
.top-nav-container .cart-and-login-container .cart-counter{
	color: #999;
}
.top-nav-container .cart-and-login-container .login-link{
	padding-left: 30px;
}

/** Products **/
.search-container input[type="text"]{
	font-size: 12px;
	color: #999;
}
.products-row{
	margin-bottom: 20px;
}
.products-table{
	margin-top: 40px;
}
.products-table .product-row{
	border: 1px solid #e8e8e8;
	padding: 10px;
	min-height: 340px;
}
.products-table .pic-row{
	margin-bottom: 30px;
}
.products-table img{
	width: 160px;
	height: 160px;
}
.pic-info-container{
	clear: left;
	padding-top: 10px;
	font-size: 14px;
}
.pic-info-container .price{
	font-weight: bold;
}
.pic-info-container .category{
	color: gray;
}
.pic-info-container .product-description{
	font-size: 12px;
	font-style: italic;
}
.category-container{
	padding-top: 7px;
}
.category-container a{
	color: #333333;
	outline: 0;
	text-decoration: none;
	margin-right: 30px;
}
.category-container a:hover{
	color: orange;
}
.category-container a.active{
	color: orange;
}
.no-data-row{
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 20px 0;
}
.add-to-cart{
	margin-top: 20px;
}
.show-per-page-label{
	padding-top: 7px;
}
.billing-info-container{
	margin-top: 20px;
}
.row-view-product{
	margin-top: 30px;
}
.row-view-product .row{
	margin-bottom: 20px;
}
.footer{
	border-top: 1px solid #e8e8e8;
	padding: 25px;
	margin-top: 20px;
}
label.error{
	color: red;
	margin-bottom: 20px;
}
.container-products-table{
	margin-top: 20px;
}